extends layout

block content
  .container#book-detail-page
    .row
      .col-12.text-center
        h1#book-title= book.title
        h2#book-author Author: #{book.author}
        p#book-genre Genre: #{book.genre}
        p#book-rating Average Rating: #{book.averageRating.toFixed(1)} / 5

    .row.mt-3#button-row
        .col-12.d-flex.justify-content-center.align-items-center#button-container
            button.btn.btn-secondary.mr-2.back-btn(onclick=`location.href='/books/${book._id}'`, type="button") Back
            button.btn.btn-info.home-btn(onclick="location.href='/'", type="button") Home
            button.btn.btn-primary.mb-2.view-books-btn(onclick="location.href='/books/'", type="button") View Books

    if book.reviews.length
      .row
        .col-12
          h3#reviews-header Reviews
          each review, index in book.reviews
            .card.mb-3.review-card(id=`review-${index}`)
              .card-body
                blockquote.mb-0
                  p.review-text= review.text
                  footer.review-footer.text-muted
                    small -- #{review.user ? review.user.username : 'Anonymous'} on #{review.createdAt.toDateString()}
                if user && review.user._id.toString() === user._id.toString()
                  .btn-group.review-actions.mt-2
                    a.btn.btn-outline-primary(href=`/books/${book._id}/review/edit`) Edit
                    form(action=`/books/${book._id}/review/delete`, method="POST")
                      button.btn.btn-outline-danger(type="submit") Delete

