extends layout

block content
    .container#book-form-container
        .row.justify-content-center
            .col-md-8
                h1#form-title.text-center #{book ? 'Update Book' : 'Create Book'}

                form(action=book ? `/books/${book._id}/update` : '/books/create', method='POST', class='mt-4')
                    .form-group#title-group
                        label(for='title') Title:
                        input#title.form-control(type='text', name='title', required='true', value=book ? book.title : '')

                    .form-group#author-group
                        label(for='author') Author:
                        input#author.form-control(type='text', name='author', required='true', value=book ? book.author : '')

                    .form-group#genre-group
                        label(for='genre') Genre:
                        input#genre.form-control(type='text', name='genre', required='true', value=book ? book.genre : '')
                    .btn-toolbar.mt-3
                        button.btn.btn-primary(type='submit') #{book ? 'Update Book' : 'Create Book'}
                        button.btn.btn-secondary.ml-2(onclick="location.href='/'", type="button") Home
                        button.btn.btn-info.ml-2(onclick="location.href='/books/'", type="button") Back

    script(src="/javascripts/bookFormValidation.js")
