extends layout

block content
  .container#book-detail-container
    .row
      .col-12
        h1#book-title.text-center.mt-3 Editing Review for #{book.title}

        form#review-form(action=`/books/${book._id}/review/update`, method="POST")
          .form-group#rating-group
            label(for='rating') Your Rating (1-5)
            input.form-control#user-rating(type='number', name='rating', min='1', max='5', required=true, value=review.rating)
            if messages && messages.textError
             .invalid-feedback Rating must be between 1 and 5.

          .form-group#text-group
            label(for='text') Your Review
            textarea.form-control#user-review(name='text', required=true, rows='5', placeholder='Write your review here',minlength='10', maxlength='5000')
            if messages && messages.textError
              .invalid-feedback Review must be between 10 and 5000 characters.

          .btn-toolbar#review-buttons
            button.btn.btn-primary(type="submit") Update Review
            a.btn.btn-secondary.ml-2(href=`/books/${book._id}`) Cancel

    script(src="/javascripts/reviewFormValidation.js")
